
.wy-grid-for-nav {
	position: relative !important;
}
.wy-nav-shift {
	position: absolute !important;
}
.wy-nav-side {
	top: 45px !important;
}
#nistheadergoeshere {
	position: fixed;
	z-index: 100;
	width: 100%;
}

.wy-nav-content-wrap {
    margin-top: 45px;
}
#ln-blackout {
	z-index: 200;
}
#ln-messageHolder {
	z-index: 200;
}